<div class="container mt-5">
    <h1 class="text-center mb-4">{{titulo}}</h1>
  
    <div *ngIf="alertMessage" class="alert alert-info text-center">
      {{alertMessage}}
    </div>
  
    <form #formAlbum="ngForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="title">Titulo</label>
        <input 
          type="text" 
          id="title"
          #title="ngModel" 
          name="title" 
          [(ngModel)]="album.title" 
          required 
          class="form-control"
          [class.is-invalid]="!title.valid && title.touched"
          [class.is-valid]="title.valid && title.touched"
        />
        <div *ngIf="!title.valid && title.touched" class="invalid-feedback">
          El titulo es obligatorio
        </div>
      </div>
  
      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea 
          id="description"
          #description="ngModel" 
          name="description" 
          [(ngModel)]="album.description" 
          required 
          class="form-control"
          [class.is-invalid]="!description.valid && description.touched"
          [class.is-valid]="description.valid && description.touched"
        ></textarea>
        <div *ngIf="!description.valid && description.touched" class="invalid-feedback">
          La descripción es obligatoria
        </div>
      </div>
  
      <div class="form-group">
        <label for="year">Año</label>
        <input 
          type="text" 
          id="year"
          #year="ngModel" 
          name="year" 
          [(ngModel)]="album.year" 
          required 
          class="form-control"
          [class.is-invalid]="!year.valid && year.touched"
          [class.is-valid]="year.valid && year.touched"
        />
        <div *ngIf="!year.valid && year.touched" class="invalid-feedback">
          El Año es obligatorio
        </div>
      </div>

      <div *ngIf="is_edit">
            <div class="album_image_for_edit" *ngIf="album.image && album.image != null">
              <img [src]="url + '/Get-Image-Album/' + album.image" alt="">
            </div>
            <p>
              <label for="">Sube la imagen del Album</label>
              <input type="file" (change)="fileChangeEvent($event)" placeholder="Subir imagen..."> 
            </p>
      
          </div>
  
      <button 
        type="submit" 
        class="btn btn-success btn-block mt-4" 
        [disabled]="!formAlbum.form.valid"
      >
        {{titulo}}
      </button>
    </form>
  </div>
  