<div class="head-page" *ngIf="identity">
    <h1>{{title}}</h1>
<a [routerLink]="['/CrearArtista']" *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-primary">Añadir Artista</a>


</div>

<div>
<ul class="pagination pull-right">
    <li><a [routerLink]="['/artist', prevPage]">&laquo;</a></li>
    <li><a [routerLink]="['/artist', nextPage]">&laquo;</a></li>
</ul>
</div>

<div class="clearfix"></div>
<ul class="artist-list" *ngIf="identity">
    <li *ngFor="let artist of artists" class="col-lg-3 artist-item">
        <div class="artist-image">
            <img src="{{ url + '/Get-Image-Artist/' + artist.image }}"  />
        </div>
        <div class="artist-name">
            <a [routerLink]="['/Artista/',artist._id]">
                {{artist.name}}
            </a>
            <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN' ">
                <a [routerLink]="['/editarArtista/',artist._id]" class="btn btn-sm btn-warning">Editar</a>
                <a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">    Eliminar</a>

            </div>

            <div class="seguro" *ngIf="confirmado == artist._id"> 
                <a (click)="onDeleteArtist(artist._id)" class="btn btn-sm btn-danger">    Eliminar</a>
                <a (click)="onCancelArtist()" class="btn btn-primary">    Cancelar</a>

            </div>
        </div>
    </li>
</ul>