:root{
    
}

html, body {
    
    margin: 0px;
    height: 100%;
    background-color: #cecece; 
    
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.actived{
    border-bottom: 5px  solid #c12525a4;
    padding-bottom: 5px;
}

.central{
    height: 100%;
    overflow-y: scroll;
}

.seguro{
    margin-top: -20px;
    background:  1f1d1d;
    text-transform: uppercase;
    margin-bottom: 24px;
    display: block;
}

.navigation {
    text-align: center;
    color: #ddd;
    background-color: rgb(76, 75, 75);
    height: 120%;
}

.navigation a {
   
   color: rgb(192, 188, 188);
   margin-top: 20px;
   margin-bottom: 20px;
   display: block;
   text-decoration: none;

}

.navigation a:hover {
   
    color: rgb(255, 255, 255);
}

.navigation .glyphicon{
    font-size: 25px;
    display: block;
    width: 100%;
}

#user_logged{
    text-align: center;
    background-color: rgb(76, 75, 75);
    position: absolute;
    bottom: 0px;
    border-top: 1px, solid, #444;
    width: 74px;
}

#user_logged .UserImage{
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;    
    overflow: hidden;
}

#user_logged .UserImage img{
    width: 57px;
}


.headTitle {
    font-size: 20px;
    font-weight: bold;
    text-transform: 25px;
    margin-bottom: 25px;
    margin-top: 5px;
    display: block;
}

.btn-logout{
cursor: pointer;
}

.artist_image_for_edit img,
.album_image_for_edit img{
    width: 50px;

}

.artist-list{
    margin:  0px;
    padding: 0px;
    margin-top: 30px ;
    list-style: none;
}

.artist-item,
.album-item{
    margin:  23%;
    margin: 30px ;
    padding: 0px;
    height: 317px;
    border: 1px solid #444;
    margin-left: 20px;
    margin-top: 20px;

}

.artist-item .artist-image,
.album-item .album-image{
    height: 245px;
    width: 100%;
    overflow: hidden;  

}

.artist-item .artist-name,
.album-item .album-name{
     color: white;
    padding: 18px;
    background: #1f1d1d;
}

.artist-item .artist-image img,
.album-item .album-image img{
    min-width: 100%;
    height: 100%;
    
    
}

#artist-head-card .image{
    width: 150px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right:30px;

}

#artist-head-card .image img{
    height: 130px;


}